.banner {
  background-color: #0f172a;
  height: 612px;
  overflow: hidden;
  position: relative;
  width: 1200px;
}

.banner .overlap {
  height: 617px;
  left: -146px;
  position: relative;
  top: -33px;
  width: 1312px;
}

.banner .group {
  height: 468px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  transform: rotate(180deg);
  width: 433px;
}

.banner .overlap-group {
  height: 220px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 173px;
}

.banner .line {
  height: 23px;
  left: 78px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  transform: rotate(-180deg);
  width: 23px;
}

.banner .overlap-group-wrapper {
  height: 173px;
  left: 0;
  position: absolute;
  top: 0;
  width: 173px;
}

.banner .ellipse-wrapper {
  background-image: url(./line-103-2.svg);
  background-size: 100% 100%;
  height: 115px;
  left: -3px;
  position: relative;
  top: 30px;
  width: 137px;
}

.banner .ellipse {
  background-color: #c78ff7f2;
  border-radius: 2.97px;
  height: 6px;
  left: 47px;
  position: relative;
  top: 87px;
  width: 6px;
}

.banner .img {
  height: 45px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 105px;
  transform: rotate(-180deg);
  width: 63px;
}

.banner .div {
  background-color: #3dafe9;
  border-radius: 2.97px;
  height: 6px;
  left: 78px;
  position: absolute;
  top: 132px;
  width: 6px;
}

.banner .ellipse-2 {
  background-color: #3dafe9;
  border-radius: 3.44px;
  height: 7px;
  left: 97px;
  position: absolute;
  top: 98px;
  width: 7px;
}

.banner .ellipse-3 {
  background-color: #3dafe9;
  border-radius: 3.44px;
  height: 7px;
  left: 75px;
  position: absolute;
  top: 76px;
  width: 7px;
}

.banner .overlap-wrapper {
  height: 50px;
  left: 91px;
  position: absolute;
  top: 24px;
  transform: rotate(95.44deg);
  width: 50px;
}

.banner .overlap-2 {
  height: 50px;
  position: relative;
}

.banner .ellipse-4 {
  background-color: #5c49ea;
  border-radius: 5.94px;
  height: 12px;
  left: 38px;
  position: absolute;
  top: 0;
  width: 12px;
}

.banner .ellipse-5 {
  background-color: #5c49ea;
  border-radius: 5.94px;
  height: 12px;
  left: 0;
  position: absolute;
  top: 38px;
  width: 12px;
}

.banner .line-2 {
  height: 42px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  transform: rotate(-95.44deg);
  width: 35px;
}

.banner .line-3 {
  height: 54px;
  left: 99px;
  position: absolute;
  top: 165px;
  transform: rotate(-180deg);
  width: 27px;
}

.banner .overlap-3 {
  height: 155px;
  left: 201px;
  position: absolute;
  top: 175px;
  width: 86px;
}

.banner .line-4 {
  height: 69px;
  left: 50px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  transform: rotate(-180deg);
  width: 36px;
}

.banner .line-5 {
  height: 137px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 86px;
}

.banner .line-6 {
  height: 111px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  transform: rotate(-180deg);
  width: 34px;
}

.banner .overlap-4 {
  height: 57px;
  left: 155px;
  position: absolute;
  top: 352px;
  width: 90px;
}

.banner .line-7 {
  height: 51px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 84px;
}

.banner .line-8 {
  height: 35px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  transform: rotate(-180deg);
  width: 54px;
}

.banner .line-9 {
  height: 26px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  transform: rotate(-180deg);
  width: 28px;
}

.banner .ellipse-6 {
  border: 1px solid;
  border-color: #0080ff;
  border-radius: 9px;
  height: 18px;
  left: 72px;
  position: absolute;
  top: 39px;
  width: 18px;
}

.banner .overlap-5 {
  height: 1px;
  left: 169px;
  position: absolute;
  top: 559px;
  width: 118px;
}

.banner .line-10 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 118px;
}

.banner .line-11 {
  height: 1px;
  left: 48px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 70px;
}

.banner .line-12 {
  height: 1px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 63px;
}

.banner .line-13 {
  height: 1px;
  left: 87px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 31px;
}

.banner .ellipse-7 {
  background-color: #c883cc;
  border-radius: 2.97px;
  height: 6px;
  left: 376px;
  position: absolute;
  top: 383px;
  transform: rotate(180deg);
  width: 6px;
}

.banner .ellipse-8 {
  background-color: #3dafe9;
  border-radius: 3.44px;
  height: 7px;
  left: 357px;
  position: absolute;
  top: 349px;
  transform: rotate(180deg);
  width: 7px;
}

.banner .overlap-6 {
  height: 50px;
  left: 378px;
  position: absolute;
  top: 311px;
  width: 55px;
}

.banner .ellipse-9 {
  background-color: #3dafe9;
  border-radius: 3.44px;
  height: 7px;
  left: 0;
  position: absolute;
  top: 16px;
  transform: rotate(180deg);
  width: 7px;
}

.banner .group-2 {
  height: 50px;
  left: 5px;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 50px;
}

.banner .ellipse-10 {
  background-color: #c883cc;
  border-radius: 5.94px;
  height: 12px;
  left: 38px;
  position: absolute;
  top: 38px;
  width: 12px;
}

.banner .ellipse-11 {
  background-color: #c883cc;
  border-radius: 5.94px;
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}

.banner .line-14 {
  height: 1px;
  left: -150px;
  object-fit: cover;
  position: absolute;
  top: 248px;
  transform: rotate(-180deg);
  width: 54px;
}

.banner .div-wrapper {
  height: 173px;
  left: 230px;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 173px;
}

.banner .overlap-7 {
  height: 115px;
  left: -3px;
  position: relative;
  top: 28px;
  width: 59px;
}

.banner .line-15 {
  height: 115px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 59px;
}

.banner .ellipse-12 {
  background-color: #3dafe9;
  border-radius: 2.97px;
  height: 6px;
  left: 47px;
  position: absolute;
  top: 21px;
  width: 6px;
}

.banner .line-16 {
  height: 24px;
  left: 238px;
  position: absolute;
  top: 535px;
  transform: rotate(-180deg);
  width: 49px;
}

.banner .overlap-8 {
  height: 97px;
  left: 246px;
  position: absolute;
  top: 331px;
  width: 99px;
}

.banner .group-3 {
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 96px;
}

.banner .ellipse-13 {
  background-color: #3dafe9;
  border-radius: 7.6px;
  height: 15px;
  left: 80px;
  position: absolute;
  top: 32px;
  width: 15px;
}

.banner .ellipse-14 {
  background-color: #3dafe9;
  border-radius: 7.6px;
  height: 15px;
  left: 32px;
  position: absolute;
  top: 80px;
  width: 15px;
}

.banner .line-17 {
  height: 61px;
  left: 55px;
  position: absolute;
  top: 27px;
  width: 23px;
}

.banner .ellipse-15 {
  border: 0.5px solid;
  border-color: #3dafe9;
  border-radius: 9px;
  height: 18px;
  left: 81px;
  position: absolute;
  top: 79px;
  width: 18px;
}

.banner .group-wrapper {
  height: 533px;
  left: 570px;
  position: absolute;
  top: 0;
  width: 716px;
}

.banner .group-4 {
  height: 533px;
}

.banner .overlap-group-2 {
  height: 500px;
  position: relative;
  top: 33px;
  width: 716px;
}
/* ?? */
.banner .layer {
  height: 331px;
  left: 152px;
  position: absolute;
  top: 169px;
  width: 387px;
}

.banner .group-5 {
  height: 380px;
  left: 0;
  position: absolute;
  top: 0;
  width: 716px;
}

.banner .union {
  background-blend-mode: color-dodge;
  height: 322px;
  left: 217px;
  position: absolute;
  top: 51px;
  width: 279px;
}

.banner .ellipse-16 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(255, 246, 211) 0%,
    rgba(115, 115, 115, 0) 100%
  );
  border-radius: 266.5px;
  height: 533px;
  left: 649px;
  opacity: 0.3;
  position: absolute;
  top: 84px;
  width: 533px;
}

.banner .frame {
  align-items: center;
  display: flex;
  gap: 96px;
  justify-content: space-around;
  left: 180px;
  position: absolute;
  top: 368px;
  width: 1132px;
}

.banner .frame-wrapper {
  height: 218px;
  position: relative;
  width: 1132px;
}

.banner .frame-2 {
  align-items: center;
  display: flex;
  gap: 32px;
  position: relative;
  width: 1132px;
}

.banner .frame-3 {
  align-items: center;
  display: flex;
  gap: 96px;
  justify-content: space-around;
  position: relative;
  width: 1132px;
}

.banner .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.banner .we-turn-your {
  color: #259ffa;
  font-family: "Myriad Pro-Semibold", Helvetica;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.banner .frame-5 {
  align-items: flex-start;
  box-shadow: var(--shadow);
  display: inline-flex;
  flex-direction: column;
  height: 168px;
  position: relative;
}

.banner .ideas-into-reality {
  color: #ffffff;
  font-family: "Myriad Pro-Semibold", Helvetica;
  font-size: 96px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 96px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.banner .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 0px 9px 0px 0px;
  position: absolute;
  top: 96px;
}

.banner .with-magic-of-devops {
  flex: 0 0 auto;
  position: relative;
}

.banner .frame-7 {
  height: 100px;
  position: relative;
  width: 100px;
}
