.footerTop {
  display: flex;
  justify-content: space-around;
}
.topLeft {
  width: 45%;
  height: 100px;
}
.topLeft p {
  color: white;
}
.topRight {
  width: 45%;
  height: 100px;
  background-color: rgb(222, 241, 241);
}
.footerBottom div {
  width: 95%;
  height: 100px;
  background-color: rgb(222, 241, 241);
}
.footerBottom {
  display: flex;
  justify-content: space-around;
}
