.Roadmap {
  color: white;
}
.RoadmapHeader {
  width: 100%;
  height: 120px;
  padding: 10px;
}
.RoadmapBody {
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1230px;
  display: flex;
  align-items: start;
  padding: 5px;

  justify-content: flex-start;
}
.RoadmapBody1 {
  /* background-color: rgb(46, 42, 165); */
  width: 45%;
  height: 100%;
}
.RoadmapBody2 {
  width: 10%;
  height: 100%;
}
.RoadmapBody3 {
  width: 45%;
  height: 100%;
}
.RoadmapHeader p {
  font-size: 16px;

  color: blue;
  margin: 10px;
  margin-left: 30px;
}

.RoadmapHeader h1 {
  font-size: 50px;
  color: white;
  margin: 10px;
  margin-left: 30px;
}
.Text1 {
}
.Text p {
}
.RoadmapBodyTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: auto;
  padding: 10px;
  position: relative;
  top: 150px;
}
.Text1 {
  margin-bottom: 300px;
}
.Text2 {
  margin-bottom: 300px;
}
.RoadmapBodyTitl3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 10px;
  position: relative;
  top: 330px;
}
.Text1-1 {
  position: relative;
  margin-bottom: 300px;
}
